@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src:
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Pretendard", sans-serif;
}

.react-datepicker {
  background-color: #f9f5ff !important;
  border: none !important;
  outline: none !important;
  text-align: right !important;
}

.react-datepicker__header {
  background-color: #EADDFF !important;
  color: #4F378B !important;
  border-bottom: none !important;
}

.react-datepicker__day--selected {
  background-color: #8867DF !important;
  color: white !important;
}

.react-datepicker__day--today {
  border: 1px solid #6d87d5 !important;
}

.react-datepicker__input-container input {
  outline: none !important;
  border: none !important;
  text-align: right !important;
}

.react-datepicker__day {
  outline: none !important;
}

.react-datepicker__day:hover {
  background-color: #EADDFF !important;
}

/* 연도 드롭다운 배경 및 텍스트 색상 */
.react-datepicker__year-dropdown {
  background-color: #EADDFF !important;
  color: #4F378B !important;
  padding: 0.5rem 0 !important;
  max-height: 200px !important;
  overflow-y: auto !important;
}

/* 연도 선택 항목 스타일 */
.react-datepicker__year-option {
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem !important;
  cursor: pointer !important;
}

/* 연도 항목 hover 시 배경색 */
.react-datepicker__year-option:hover {
  background-color: #f6f2ff77 !important;

}

/* 현재 선택된 연도의 스타일 */
.react-datepicker__year-option.react-datepicker__year-option--selected {
  background-color: #4F378B !important;
  color: white !important;
  font-weight: bold !important;
}

.react-datepicker__year-dropdown-container--scrollable {
  max-height: 200px;
  /* 스크롤이 생기는 최대 높이 */
  overflow-y: auto;
  /* 세로 스크롤 활성화 */
}

.react-datepicker__year-dropdown-container--scrollable::-webkit-scrollbar {
  width: 2px;
  /* 스크롤바 너비 */
}

.react-datepicker__year-dropdown-container--scrollable::-webkit-scrollbar-track {
  background: #f9f5ff;
  /* 스크롤바 트랙 배경색 */
}

.react-datepicker__year-dropdown-container--scrollable::-webkit-scrollbar-thumb {
  background-color: #8867df;
  /* 스크롤바 핸들 색상 */
  border-radius: 10px;
  /* 둥근 모서리 */
  border: 2px solid #f9f5ff;
  /* 핸들 테두리 색상 */
}